<div class="container">
  <div class="row">
    <div class="well">
        <h1 class="text-center">My Gears</h1>


          <% @equipment.each do |equip| %>
          <div class="list-group">
          <div class="list-group-item">
            <div class="media col-md-3">
              <figure class="pull-left">
                <%= image_tag equip.picture.url(:medium), class: "media-object img-rounded img-responsive"  %>
              </figure>
            </div>
            <div class="col-md-6">
              <h4 class="list-group-item-heading"> <%= equip.name %> </h4>
                <p class="list-group-item-text"><%= equip.description %></p>
                <p class="list-group-item-text glyphicon glyphicon-euro"><%= equip.value %></p>
                <p class="list-group-item-text"><%= equip.start_date %> <%= equip.end_date %></p>
            </div>
            <div class="col-md-3 text-center media-object responsive">
              <div>
                <%= link_to "Delete Gear", user_equipment_path(current_user, equip), method: :delete, data: { confirm: "Are you sure?" }%>
              </div>
              <div>
                <%= link_to "Add new Gear", new_user_equipment_path(current_user)%>
              </div>
            </div>
          </div>
          </div>
          <% end %>


    </div>
  </div>
</div>



<div id="map" style="width: 100%; height: 600px;"></div>
<% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
            console.log(<%= raw @markers.to_json %>);
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){

                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
      <% end %>







