<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <% @equipment.each do |equip| %>
      <ul>
        <li>
        <%= image_tag equip.picture.url(:medium) %>
        </li>
        <li>
        <%= equip.name %>
        </li>
        <li>
        <%= equip.value %>
        </li>
        <li>
        <%= equip.description %>
        </li>
        <li>
          <% if equip.availabilities.any? %>
            <% equip.availabilities.each do |avail| %>
              <%= render 'availability/show', availability: avail %>
            <% end %>
          <% end %>
        </li>
      <%end%>
    </div>
  </div>
</div>
