<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">

      <ul>
        <li>
        <%= image_tag @equipment.picture.url(:medium) %>
        </li>

        <li>
        <%= @equipment.name %>
        </li>
        <li>
        <%= @equipment.value %>
        </li>
        <li>
        <%= @equipment.description %>
        </li>
        <li>
          <% if @equipment.availabilities.any? %>
            <% @equipment.availabilities.each do |avail| %>
              <%= render 'availability/show', availability: avail %>
            <% end %>
          <% end %>
        </li>

    </div>
  </div>
</div>
