<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @equipments.each do |equip| %>
        <%= image_tag equip.picture.url(:medium) %>
        <%= equip.name %>
        <%= equip.value %>
        <%= equip.description %>
        <% equip.availabilities.each do |avaliability| %>
          <%= render 'availability/show', availability: avaliability %>
        <% end %>
        <%= link_to "Book"%>
      <% end %>
    </div>
  </div>
</div>


<div id="map" style="width: 100%; height: 600px;"></div>
<% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
            console.log(<%= raw @markers.to_json %>);
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){

                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
  <% end %>
<% end %>
