
    <div id="wrapper-list">

       <div id="article">
          <div class="row">
            <div class="col-xs-12">
              <%= form_for Equipment.new, url: equipments_path, :method => 'get' do |f| %>
              <%= text_field_tag :search, params[:search], style: "color: black" %>
              <%= submit_tag "Search", :name => nil %>
                <div class="row">
                  <div class="col-md-3">
                    <%= date_field :start_date, placeholder: "From", class: "form-control" %>
                  </div>
                  <div class="col-md-3">
                    <%= date_field :end_date, placeholder: "Until", class: "form-control" %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <%= check_box_tag "q[equip_type_eq_any][]", "Video" %> Video
                  </div>
                  <div class="col-md-4">
                    <%= check_box_tag "q[equip_type_eq_any][]", "Audio" %> Audio
                  </div>
                  <div class="col-md-4">
                    <%= check_box_tag "q[equip_type_eq_any][]", "Smthgn" %> Smthng
                  </div>
                </div>

                <hr>
              <% end %>
            </div>
          </div>
        </div>

      <div id="my-list">
        <div id="row" >
          <% @equipments.each do |equip| %>
            <div class="col-md-6" >
              <div>
                <%= image_tag equip.picture.url(:medium) %>
              </div>
              <div class="product-info">
                <%= image_tag equip.user.picture, class: "avatar user-picture" %>
                <div class="product-details">
                  <%= equip.user.first_name %>'s <%= equip.name %>
                </div>
                <div class="product-price">€ <%= equip.value %> per day</div

              </div>
            </div>
          <% end %>

        </div>
      </div>


    </div>

      <div id="wrapper-map">
        <div id="map"></div>
      </div>
        <% content_for(:after_js) do %>
                  <%= javascript_tag do %>
                    $(document).on('ready', function() {
                    console.log(<%= raw @markers.to_json %>);
                      handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map' } }, function(){

                        markers = handler.addMarkers(<%= raw @markers.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                      });
                    })
          <% end %>
        <% end %>





