<div class="container">

  <div class="row">

    <div class="col-md-3">

      <div class="row">

        <%= form_for Equipment.new, url: equipments_path, :method => 'get' do |f| %>
        <div class="col-sm-12 col-md-12">
          <%= f.autocomplete_field :name, autocomplete_equipment_name_equipments_path, id: "index_autocomplete"%>
          <%= f.submit "Search", :name => nil %>
            <div class="row">
              <label for="From"></label>
              <div class="col-sm-12 col-md-12">
                <%= date_field :start_date, placeholder: "From", class: "form-control" %>
              </div>
              <div class="col-sm-12 col-md-12">
                <%= date_field :end_date, placeholder: "Until", class: "form-control" %>
              </div>
            </div>
            <hr>


            <div class="row">
                <div class= "col-sm-12">
                <%= check_box_tag "q[equip_type_eq_any][]", "Video" %> Like New
                </div>

                <div class= "col-sm-12">
                <%= check_box_tag "q[equip_type_eq_any][]", "Audio" %> Very Good
                </div>

                <div class= "col-sm-12">
                <%= check_box_tag "q[equip_type_eq_any][]", "Audio" %> Good
                </div>

                <div class= "col-sm-12">
                <%= check_box_tag "q[equip_type_eq_any][]", "Audio" %> Acceptable
                </div>
            </div>
            <hr>
        </div>
        <% end %>

      </div>

      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="icon-audio"></span>  Audio</a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <table class="table">
                          <tr>
                              <td>
                                  <a href="#">AUDIO PACKAGES (40)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">BOOM/SHOTGUN (35)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">MICROPHONES (41)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">MIXER (15)</a>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="icon-video"></span>  Video</a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                      <table class="table">
                          <tr>
                              <td>
                                  <a href="#">ARRI (32)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">BLACKMAGIC(55)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">CANON (130)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">GOPROS (35)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">PANASONIC (21)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">RED (110)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">SONY (122)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">SUPER 8MM (2)</a>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="icon-photo"></span>  Photo</a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                           <table class="table">
                          <tr>
                              <td>
                                  <a href="#">CANON (162)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">NIKON(30)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">FUJI(7)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">LEICA(15)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">OLYMPUS (2)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">ZEISS(10)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">SIGMA (22)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">PENTAX (5)</a>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>

           <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="icon-other"></span>  Other</a>
                  </h4>
              </div>

               <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                      <table class="table">
                          <tr>
                              <td>
                                  <a href="#">DRONES(62)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">SPACE(10)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">ART&PROPS(89)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">GRIP(23)</a>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <a href="#">PRODUCTION (7)</a>
                              </td>
                          </tr>

                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-9">

      <div class="btn-group">
        <a href="#" id="grid" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th"></span>
          Grid
        </a>
        <a href="#" id="list" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th-list"></span>
          List
        </a>
        <a href="#map" id="btn-map" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-map-marker"></span>
          Map
        </a>
      </div>
      <!-- /.container -->

      <div class="row">
         <div class="col-sm-12">
            <div id="map" class="hidden"></div>
         </div> <!-- /.map -->
       </div> <!-- /.row -->


      <div id="content-wrapper">
        <div class="row carousel-holder">

            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                          <%= image_tag "slider-1-800x300.jpg", class: "slide-image"%>
                            <!-- <img class="slide-image" src="http://placehold.it/800x300" alt=""> -->
                        </div>
                        <div class="item">
                          <%= image_tag "slider-2-800x300.jpg", class: "slide-image"%>
                            <!-- <img class="slide-image" src="http://placehold.it/800x300" alt=""> -->
                        </div>
                        <div class="item">
                          <%= image_tag "slider-3-800x300.jpg", class: "slide-image"%>
                           <!--  <img class="slide-image" src="http://placehold.it/800x300" alt=""> -->
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">

            <% @equipments.each do |equip| %>
            <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="thumbnail img position">

                   <div class="price-container">
                      <span class="price">€ <%= equip.value %></span>
                      <span class="quantity">/day</span>
                    </div>

                    <a href="<%= equipment_path(equip)%>"><div><%= image_tag equip.picture.url(:medium), class: "img-responsive"%></div></a>
                    <div class="caption">

                        <div id = "list-info">
                        <div class="img"><%= image_tag equip.user.picture, class: "avatar-list" %></div>
                        <div class="text-user">
                        <span><%= equip.user.first_name %>'s</span>
                         </div>
                         <div class="text-equip">

                          <h4><a href="<%= equipment_path(equip)%>"><%= equip.name %></a></h4>
                        </div>

                        </div>


                        <div class="ratings">
                        <% if !equip.user.reviews.where(equipment_id: equip.id).empty? %>
                        <div class="pull-right"><%= equip.user.reviews.where(equipment_id: equip.id).first.rate %> Volts</div>
                        <div>
                            <% equip.user.reviews.where(equipment_id: equip.id).first.rate.to_i.times do |bolt| %>
                              <i class="fa fa-bolt"></i>
                            <% end %>
                        </div>
                         <% else %>
                         <div class="pull-right">0 Volts</div>
                        <% end %>
                        </div>
                    </div>
                 </div>
              </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
         console.log(<%= raw @markers.to_json %>);


        $("#btn-map").on("click", function(){

         $("#map").removeClass("hidden");
         $("#content-wrapper").addClass("hidden");


           handler = Gmaps.build('Google');
           handler.buildMap({ internal: { id: 'map' } }, function(){

            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });

        })

        $("#grid").on("click", function(){

         $("#map").addClass("hidden");
         $("#content-wrapper").removeClass("hidden");
        })


      })
    <% end %>
  <% end %>
</script>
