
<h2 class="text-center">Add new gear</h2>

<%= simple_form_for [current_user, @equipment], url: user_equipments_path(current_user) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-inputs">
      <%= f.input :name, autofocus: true %>
      <%= f.input :value, as: :integer %>
      <%= f.input :description %>
      <%= f.input :picture %>
      </div>
      <div class="form-actions">
      <%= f.submit "add a gear" %>
      </div>
      <% end %>
    </div>
  </div>
</div>



