<div>
 <div class="container">
            <div class="gear-details">

                <div class="row">
                  <div class="col-md-8 left">
                          <div class="row">
                                <div class="col-md-9">
                                  <h2><%= @equipment.name %></h2>
                                  <p><i class="fa fa-map-marker"></i> <%= @equipment.address %></p>
                              </div>
                               <div class="col-md-3 pricetag">
                            <div class="price"><h2>€ <%= @equipment.value %></h2></div>
                            <div class="day"><h4>/ day</h4></div>
                        </div>

                          </div>

                                                      <!-- BEGIN PRICE -->


                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i> Photos</a>
                                </li>
                                <li><a href="#google-map-tab" data-toggle="tab"><i class="fa fa-map-marker"></i> On the Map</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="fotoshow" >
                                       <%= image_tag @equipment.picture.url(:big) %>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="google-map-tab">
                                  <div id="map" style="width: 100%; height: 600px; "></div>
                                    <% content_for(:after_js) do %>
                                      <%= javascript_tag do %>
                                        $(document).on('ready', function() {
                                        console.log(<%= raw @markers.to_json %>);
                                          handler = Gmaps.build('Google');
                                          handler.buildMap({ internal: { id: 'map' } }, function(){

                                            markers = handler.addMarkers(<%= raw @markers.to_json %>);
                                            handler.bounds.extendWith(markers);
                                            handler.fitMapToBounds();
                                          });
                                        })
                                      <% end %>
                                    <% end %>
                                </div>
                            </div>
                      <!-- BEGIN DESCRIPION -->
                      <div class= "Description">
                        <h3>Description</h3>
                        <p><%= @equipment.description %></p>
                      </div>
                      <!-- BEGIN REVIEW -->
                      <div class="Reviews">
                        <h3>Reviews</h3>
                        <p>Average Rating <%= @equipment.average_rating %></p>
                        <div class="row">
                            <div class="col-md-8">
                              <ul class="booking-item-reviews list">

                                <% @reviews.order("id desc").each do |review| %>


                                      <div class="row">
                                          <div class="col-md-3">
                                              <div class="booking-item-review-person">
                                                  <a class="booking-item-review-person-avatar round" href="#">
                                                      <%= image_tag review.user.picture, class: "img-circle avatar-small avatar-review" %>
                                                  </a>
                                                  <p class="booking-item-review-person-name"><a href="#"><%= review.user.first_name %></a>
                                                  </p>
                                                  <p class="booking-item-review-person-loc"><%= review.user.address %></p><small><a href="#"><%= pluralize review.user.reviews.count, 'Review' %> </a></small>
                                              </div>
                                          </div>

                                          <div class="col-md-9">
                                              <div class="booking-item-review-content">

                                                  <hr>
                                                  <ul class="list-inline">
                                                      <li><i class="fa fa-bolt"></i>
                                                      </li>
                                                      <li><i class="fa fa-bolt"></i>
                                                      </li>
                                                      <li><i class="fa fa-bolt"></i>
                                                      </li>
                                                      <li><i class="fa fa-bolt"></i>
                                                      </li>
                                                      <li><i class="fa fa-bolt"></i>
                                                      </li>
                                                  </ul>
                                                  <p><%= review.comment %>
                                                  </p>
                                                  <hr>


                                              </div>
                                          </div>

                                      </div>

                                  <% end %>
                                </ul>

                              <div class="box bg-gray">
                               <% if !@hasReview %>
                                  <h3>Write a Review</h3>
                                  <%= form_for([@equipment, @equipment.reviews.new]) do |f| %>
                                      <div class="row">
                                        <%= f.hidden_field :user_id, value: current_user.id %>
                                          <div class="col-md-12">
                                              <div class="form-group">
                                                  <label>Review Rating</label>
                                                  <%= f.number_field :rate, class: 'form-control' %>
                                              </div>
                                              <div class="form-group">
                                                  <label>Review Text</label>
                                                  <%= f.text_area :comment, class: 'form-control', rows: 6 %>

                                              <div style="margin-top:20px;"><%= f.submit "Leave a Review", class: 'btn btn-primary' %></div>
                                          </div>
                                      </div>
                                    <% end %>

                              </div>
                              <% end %>
                              </div>
                            </div>
                        </div>
                      </div><!-- END OF REVIEW -->
                  </div>
                  <div class="col-md-4 right">
                        <!-- BEGIN PROFILE -->
                        <div class="row profile">
                          <div class= "col-md-6" style="margin-top: 30px; margin-bottom: 20px">
                            <div><%= image_tag @equipment.user.picture, class: "profile-pic" %></div>
                          </div>
                          <div class= "col-md-6 text-center" style="margin-top: 70px" >
                            <div class="profile-text">
                              <h4><%= @equipment.user.first_name %> <%= @equipment.user.last_name %></h4>
                              <a href="#" class="btn btn-primary btn-lg" id= "Meet">Contact</a>
                            </div>
                          </div>
                        </div>
                        <!-- END PROFILE -->



                        <!-- START BOOKING -->
                        <div class="booking">
                          <form>
                              <div class="input-daterange" data-date-format="MM d, DD">
                                  <div class="row">
                                    <%= render "reservations/form" %>
                                  </div>
                              </div>
                          </form>
                        </div>
                        <!-- START MESSAGE BOX -->
                        <!-- END MESSAGE BOX -->
<!--
                        <!-- BEGIN GEARS NEAR BY -->
                   <!--      <div class="col-md-12">
                        <h4>Gears Near By</h4>
                        <ul class="booking-list">
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="img/800x600.png" alt="Image Alternative text" title="The pool" />
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">The Meatpacking Suites - Luxury Lofts, Hot Location</h5>
                                            <ul class="list-inline">
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3"><span class="booking-item-price">$391</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                          <%= image_tag "b-1.jpg", class: "blackmagic-nearby"%>
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Blackmagic1</h5>
                                            <ul class="list-inline">
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3"><span class="booking-item-price">€100/day</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Soho Art Gallery Massive Luxurious Loft</h5>
                                            <ul class="list-inline">
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3"><span class="booking-item-price">$190</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool" />
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Styish, Chic, Best of West Village</h5>
                                       <ul class="list-inline">
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3"><span class="booking-item-price">$234</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="img/800x600.png" alt="Image Alternative text" title="hotel 2" />
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Duplex Greenwich</h5>
                                     <ul class="list-inline">
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                                <li><i class="fa fa-bolt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3"><span class="booking-item-price">$273</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div> -->
                        <!-- END GEARS NEAR BY -->
                  </div>



                    </div>
            </div>


            </div>

           </div>

  </div>

