
<body class="gear_show">

  <div class="container">

    <div class="row">

      <div class="col-md-8 img-gallery">
      </div>

      <div class="col-md-8 description">


           (Photos are of actual camera and accessories)

          - 14 stops of Dynamic Range

          - 12-bit RAW Recording (with optional Q7+ recorder)

          - Apple ProRes Recording (plus XAVC and MPEG codecs)

          - 4K up to 60 fps (internal or with optional Q7 +Recorder)

          - 2K up to 240 fps (with optional Q7+ recorder)

          - 1080p HD up to 180 fps (internal)

          - The ability to use almost any lens you want

          - Ergonomic and Light

          RENTAL INCLUDES:

          - Camera Body

          - Sony XDCA Extension Unit (Allows RAW, ProRes and more)

          - Sony Viewfinder

          - Sony PXW-FS7 Hand Grip

          - Wooden Camera Accessory Kit

          - Chrosziel Shoulder Rig and wedge plate

          - PL

        </div>


        </div>






      <div class="col-md-4 gear-info ">


      </div>

    </div>


  </div>

















</body>

<h1>Gears#show</h1>
<p>Find me in app/views/gears/show.html.erb</p>



<div id="my-list">
  <div id="row" >

    <div class="product-info">
      <%= image_tag @equipment.user.picture, class: "avatar user-picture" %>
    </div>
    <div class="product-details">
      <%= @equipment.user.first_name %>
    </div>
    <div class="product-details">
      <% @equipment.user.description %>
    </div>
    <div class="product-details">
      <%= @equipment.user.occupation %>
    </div>

  </div>
</div>

<div id="my-list">
  <div id="row" >

      <div class="col-md-6" >
        <div>
          <%= image_tag @equipment.picture.url(:medium) %>
        </div>
          <div class="product-details">
            <%= @equipment.user.first_name %>'s <%= @equipment.name %>
          </div>
          <div class="product-price">€ <%= @equipment.value %> per day</div>
        </div>
      </div>

</div>

<div class="col-md-4">
  <%= render "reservations/form" %>
</div>

<!-- Reviews -->

<h3>Reviews <%= @equipment.average_rating %> (<%= @reviews.count %>)</h3>

<div class="col-md-4">
  <%= render 'reviews/form' if !@hasReview %>
</div>

<div class="col-md-4">
  <%= render 'reviews/list' %>
</div>



