<video autoplay loop poster="polina.jpg" id="bgvid">
    <source src="polina.webm" type="video/webm">
    <source src="polina.mp4" type="video/mp4">
</video>


<!-- Banner -->
    <div class="banner text-center hide-under-navbar">

        <h1>Gear to meet you </h1>
        <h2>empowered by the local commuinty</h2>
        <%= render partial: "shared/component/searchbox" %>
    </div>

<!-- <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button> -->


    <!-- Feature -->

   <!--  <a href="#map">Find us</a>
    <p data-sr> Chips Ahoy! </p>
    <div data-sr="enter left, hustle 20px"> Foo </div>
<div data-sr="wait 2.5s, ease-in-out 100px"> Bar </div>
<div data-sr="move 16px scale up 20%, over 2s"> Baz </div>
<div data-sr="enter bottom, roll 45deg, over 2s"> Bun </div> -->

   <h2 class="subtitle text-center">How it works</h2>
    <div class = "padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature text-center">

            <%= image_tag "feature_1.jpg" %><h2>Step 1</h2>

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature text-center">
          <%= image_tag "feature_2.jpg" %><h2>Step 2</h2>

          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="feature text-center">
          <%= image_tag "feature_3.jpg" %><h2>Step 3</h2>

         </div>
        </div>

         <div class= "text-center">
         <a href="#" class="btn btn-primary text-center">Browse all Gears</a>
       </div>

      </div>
    </div>
    </div>


    <!-- Cards -->


    <div class="container text-center">
      <h2 class="subtitle">Category according the professions</h2>

      <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#">
              <div class="card-img">
              <%= image_tag "pro_1.jpg", class: "img-responsive" %>
              <h2>SOUND</h2>


              </div>
            </a>

          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="#">
            <div class="card-img">
              <%= image_tag "pro_1.jpg", class: "img-responsive " %>
              <h2><span>FILM</span></h2>
            </div>
          </div>
           </a>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#">
            <div class="card-img">
              <%= image_tag "pro_1.jpg", class: "img-responsive card" %>
              <h2>PHOTOGRAPHY</h2>
            </div>
          </div>
           </a>

      </div>

    </div>


  <style type="text/css">
    .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

  </style>




    <%= render partial: "shared/footer" %>
