<!-- Banner -->
    <div class="banner text-center hide-under-navbar">

      <div class="layer">
        <h1>Gear to meet you </h1>
        <h2>Rent gear from trusted creatives in your local community</h2>
        <%= render partial: "shared/component/searchbox" %>
      </div>

    </div>


<!-- BEGIN ABOUT -->

          <section id="about">

            <div class="container">

           <div class="text-center section-title">
              <h2><strong>How It Works</strong></h2>
           </div>

            <div class="row section-margin">
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">

                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_1.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Browse Gears</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aut mollitia ad voluptatem necessitatibus, impedit amet, quia illo, neque, officia consectetur eveniet nulla enim beatae repellat modi illum quaerat nemo.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_2.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Set Dates & Book</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit tempore, alias labore natus earum non voluptatum laborum ut aliquid similique, veritatis maxime praesentium vitae ratione explicabo, obcaecati ea impedit.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_3.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Meet & Greet</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad, neque eaque consequuntur dolores incidunt necessitatibus veritatis, maiores distinctio saepe cupiditate nobis nulla possimus sit enim consequatur tempora quo aspernatur.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_4.svg", class: "img-responsive " %></div>
                      <h4 class="text-center"><strong>Return & Rate</strong></h4>
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis beatae libero, accusamus nesciunt ipsum modi, nemo sapiente sed non iure debitis est vel maiores pariatur asperiores harum recusandae, exercitationem neque!.</p>
              </div>
            </div>

          </div>

          </section>

          <!-- END ABOUT -->

    <!-- Discover Cards -->


    <div class="text-center">
      <h2><strong>Meet Your Gearos</strong></h2>
      <h4>Discover inspiring Gearos in your local community</h4>
    </div>

    <div class="container">
    <div class="row section-margin">

          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <div class="discovery-card discovery-card-1">

                <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>Iris Ng <br>with <br>Red Epic</strong></h2>
                    <p>Cinematographer, Independent Filmmaker</p>
                  </div>
                </div>
              </div>
            </a>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="#">
            <div class="discovery-card discovery-card-2">
              <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>Eric Kim <br>with <br>Fuji X100</strong></h2>
                    <p>International street photography teacher</p>
                  </div>
              </div>
            </div>
          </a>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
            <div class="discovery-card discovery-card-3">
              <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>DJ Hydee <br>with <br>Pioneer DDJ-SZ</strong></h2>
                    <p>Skyrocket Entertainment DJ</p>
                  </div>
              </div>
            </div>
             </a>
          </div>


      </div>

    </div>


  <style type="text/css">
    .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

  </style>





