<!-- Banner -->
    <div class="banner text-center hide-under-navbar">

      <div class="layer">
        <h1>Gear to meet you </h1>
        <h2>Rent gear from trusted creatives in your local community</h2>
        <%= render partial: "shared/component/searchbox" %>
      </div>

    </div>


<!-- BEGIN ABOUT -->

          <section id="about">

            <div class="container">

           <div class="text-center section-title">
              <h2><strong>How It Works</strong></h2>
           </div>

            <div class="row section-margin">
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">

                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_1.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Browse Gears</strong></h4>
                    <p>Try out the latest equipment without emptying your bank account. Rent and use top of the line gear only when you need it.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_2.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Set Dates & Book</strong></h4>
                    <p>Reserve and pickup the same day or book ahead with no hassles. Schedule a pickup time and location that works for you.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-1 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_3.svg", class: "img-responsive " %></div>
                    <h4 class="text-center"><strong>Meet & Greet</strong></h4>
                    <p>Half the fun of Gearos is the chance to meet local pros like yourself! If you have any questions you’ll receive personal advice and tips from the Owner.</p>
              </div>
              <div class="col-lg-3 col-lg-offset-0 col-md-offset-2 col-md-4 about__item">
                    <div class= "works-icon text-center"><%= image_tag "How_It_Works_4.svg", class: "img-responsive " %></div>
                      <h4 class="text-center"><strong>Return & Rate</strong></h4>
                      <p>Take care of the gear like it’s your own for good karma and to earn a great rating. Maintain your reputation and keep your community strong.</p>
              </div>
            </div>

          </div>

          </section>

          <!-- END ABOUT -->

    <!-- Discover Cards -->


    <div class="text-center">
      <h2><strong>Meet Your Gearos</strong></h2>
      <h4>Discover inspring Gearos in your local community</h4>
    </div>

    <div class="container">
    <div class="row section-margin">

          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
              <div class="discovery-card" style="background-image: url('/assets/pro_1.jpg')">

                <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>Iris Ng <br>with <br>Red Epic</strong></h2>
                    <p>Cinematographer, Independent Filmmaker</p>
                  </div>
                </div>
              </div>
            </a>

          </div>

          <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="#">
            <div class="discovery-card" style="background-image: url('/assets/pro_2.jpg')">
              <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>Eric Kim <br>with <br>Fuji X100</strong></h2>
                    <p>International street photography teacher</p>
                  </div>
              </div>
            </div>
          </a>
          </div>


          <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="#">
            <div class="discovery-card" style="background-image: url('/assets/pro_3.jpg')">
              <div class="va-container">
                  <div class="va-middle text-center">
                    <h2><strong>DJ Hydee <br>with <br>Pioneer DDJ-SZ</strong></h2>
                    <p>Skyrocket Entertainment DJ</p>
                  </div>
              </div>
            </div>
             </a>
          </div>


      </div>

    </div>


  <style type="text/css">
    .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

  </style>





