<%= form_for([@equipment, @equipment.reservations.new]) do |f| %>
<div class="col-md-6">
   <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
   <label>From</label>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
    <label>Till</label>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>
</div>

  <%= f.hidden_field :equipment_id  %>


<div class="col-md-12">
  <%= f.submit "Book Now", class: "btn btn-block btn-lg" %>
</div>

<%end%>

