
<%= form_for [@equipment, @reservation] do |f| %>

  <% if @reservation.errors.any? %>
    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<div class="col-md-6">
  <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
    <label>From</label>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon"></i>
    <label>Till</label>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>
</div>

  <%= f.hidden_field :equipment_id, :value => @equipment.id %>

<div class="col-md-12">
  <%= f.submit "Book Now", id: 'book_btn', class: "btn btn-primary btn-block btn-lg"  %>
</div>


<%end%>

<script type="text/javascript">
  $(function(){
    $('#reservation_end_date').on('change',function(){
      var startDate = new Date($('#reservation_start_date').val());
      var endDate = new Date($('#reservation_end_date').val());

      if (startDate < endDate){
        $('#error').remove();
        $('#reservation_start_date').addClass('has-success').removeClass('has-error');
        $('#reservation_end_date').addClass('has-success').removeClass('has-error');
      }
      else{
        $("#book_btn").toggleClass("hidden");
        $('#new_reservation').after("<p id='error'>Choose correct date</p>");
        $('#reservation_start_date').addClass('has-error').removeClass('has-success');
        $('#reservation_end_date').addClass('has-error').removeClass('has-success');
      }
      // Do something

    })
  })
</script>

