<div class="panel panel-default">
  <div class="panel-heading">
    List Your Gear
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @room do |f| %>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Gear Type 1</label>
              <%= f.select :gear_type_1, [["Apartment","Apartment"], ["House","House"], ["Bed & Breakfast","Bed & Breakfast"]], id: "gear_type_1", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Gear Type 2</label>
              <%= f.select :gear_type_2, [["Entire","Entire"], ["Private","Private"], ["Shared","Shared"]],prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Gear Type 3</label>
              <%= f.select :gear_type_3, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Gear Type 4</label>
              <%= f.select :bed_room, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Gear Type 5</label>
              <%= f.select :bath_room, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Listing name</label>
            <%= f.text_field :listing_name, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Description</label>
            <%= f.text_area :description, rows: 5, placeholder: "Tell about your Gear", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_field :address, placeholder: "What is your address?", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_option_1 %> Insured
            </div>
            <div class="form-group">
              <%= f.check_box :is_option_2 %> Option 2
            </div>
            <div class="form-group">
              <%= f.check_box :is_option_3 %> Option 3
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_option_4 %> Option 4
            </div>
            <div class="form-group">
              <%= f.check_box :is_option_5 %> Option 5
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Price per Day</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <%= f.text_field :price, placeholder: "eg. €100", class: "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= f.check_box :active %> Active
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
